# lokalni backend na LAN-u
EXPO_PUBLIC_API_BASE_URL=https://TVOJ-LOCAL-IP:3000/api

# lokalni MQTT broker (Mosquitto)
EXPO_PUBLIC_MQTT_HOST=TVOJ-LOCAL-IP
EXPO_PUBLIC_MQTT_PORT=9001

EXPO_PUBLIC_MQTT_USER=tvoje_mqtt_uporabnisko_ime
EXPO_PUBLIC_MQTT_PASSWORD=tvoje_mqtt_geslo

# primer za --tunnel
# EXPO_PUBLIC_API_BASE_URL=https://your-subdomain.loca.lt/api
