# baza (uporablja docker-compose za postgres servis)
DB_USER=SvicMajsterAdmin
DB_PASSWORD=tvoje_geslo
DB_PORT=5432
DB_DATABASE=svicmajster

# Docker Hub uporabnisko ime za objavo slik (docker compose build/push)
# slike bodo: <DOCKERHUB_USER>/svicmajster-backend, <DOCKERHUB_USER>/svicmajster-faceid
DOCKERHUB_USER=tvojuser
