PORT=3000

DB_USER=SvicMajsterAdmin
DB_PASSWORD=tvoje_geslo
DB_DATABASE=svicmajster
DB_HOST=localhost
DB_PORT=5432

MQTT_URL=mqtt://localhost:1883
MQTT_USER=SvicMajsterAdmin
MQTT_PASSWORD=tvoje_geslo
